.chat-main
  .chat-main__group-info
    .group-box
      .group-box__name
        = @group.name
      .group-box__member
        Member:
        - @group.users.each do |user|
          = user.name
    .edit-btn
      = link_to edit_group_path(@group), class: "edit-btn__link" do
        .edit-btn__block
          Edit
  .chat-main__message-list
    .message
      = render @messages
  .form
    = form_for [@group, @message], html: {id: 'new__content'} do |f|
      = f.text_field :text, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'